.em{
    border-bottom : 1px solid #333333;
    width: 350px;
    align-items: center;
    margin: 15px 0 20px 0;

}
.em1{
    color: #05cdff;
    margin-top: 100px;
    font-size: 20px
}
.em3{
    display: flex;
    justify-content: center;
    
}
.em4{
    width: 350px;
    border-radius: 4px;
    height: 35px;
}
.em5{
    width: 350px;
    height: 180px;
    border-radius: 4px;
}
.em6{
    width: 170px;
    padding-left: 0.5%;
    height: 35px;
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
}
 .em7{
    width: 250px;
    padding-left: 0.5%;
    height: 35px;
    margin: 10px 5px 0px 5px;
    border-radius: 4px;
}
.emall{
    text-align: center;
    padding-top: 1%;
}
.embt{
    width: 80px;
    margin: 0px 5px 0px 5px;
    border-radius: 4px;

}
.block1{
    padding-left: 5px;
    padding-top: 5px;
    width: 350px;
    display: inline-flex;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    height: 35px;
}