
.App-Content{
  /* background-color:azure; */
  flex-direction: column;
  text-align: center;

  }
  .f_header{
    color: white;
    height: 50px;
    font-size: 30px;
    background-color: #05cdff;
    padding: 2px;
    text-align: center;
  }

.headtext{
    color:#05cdff;
    margin-bottom: 30px;
    margin-top: 20px;
   
    
  }

.select {
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    background-color: #FFFFFF;
    font-size: small;
    text-align: right;
    width: 400px;
  }

.App-date2{
    text-align: left;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    background: #FFFFFF url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  95% 50% no-repeat ;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 25px;
}
[type="date"]::-webkit-inner-spin-button {
 
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  
}

a {
    color: #05cdff;
  }

.button4 {
    background-color: white;
    padding: 6px 36px ;
    border-radius: 5px;
    color: black;
    border: 2px solid #e7e7e7;
    margin: 4px 2px;
    font-size: small;
    width: 200px;
    margin-top: 40px
  }

.inputamount{
    border: none;
    text-align: right;
    width: 60%;
    margin-left: 10%;
    
  }

.textamount{
    font-size: small;
    text-align: left ;
    padding-top: 9px;
  }

.borderamount{
     display: inline-flex;
     flex-direction: row;
     justify-content: center;
     width: 400px;
     height: 40px;
     border: 2px solid #e7e7e7;
     border-radius: 5px;
     background-color: white;
     margin-top: 20px;
     margin-bottom: 40px;
  }

.App-footer{
  background-color:#05cdff;
  padding: 15px;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.up{
  display: flex;
  justify-content: center;

}
.text5{
  color: #05cdff;
  font-size: 20px;
  margin-right: 20px;
}
.card-add-person-fileInput{
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  right: 0px;
}
.imgPreview{
  /* background-color: rgb(235, 235, 235); */
  width: 200px;
  height: 200px;
  /* border-left: 0.5px solid rgb(207, 207, 207);
  border-right: 0.5px solid rgb(207, 207, 207);
  border-top: 0.5px solid rgb(207, 207, 207);
  border-bottom: 0.5px solid rgb(207, 207, 207); */
 
}
  .imgUpload{
    width: 200px;
    height: 200px;
    margin-bottom: 10px
}
.card-add-person-previewText{
  width: 100%;
  margin-top: 40%;
}
.previewText{
  color: #05cdff;
  font-size: 20px;
}


