
  .l2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-bottom: 6%;
  }
  
  .l3{
    background-color:#05cdff;
    height: 55px;
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .l4{
    display: block;
    width: 259px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .l5{
    text-align: center;
    color: #05cdff;
    margin-top: 1%;
  }
  .l6{
    margin-top: 1%;
    padding-left: 1%;
    width: 259px;
    left: 0;
    right: 0;
    height: 20pt;
    border: 1px solid #ddd;
    height: 37px;
  }
  .l7{
    margin-top:5%;
    width: 259px;
    background-color:white;
    border-radius: 0%;
    left: 0;
    right: 0; 
  }
  .l7:hover{
    color: #05cdff;
    background-color: #ffffff;
    border-color: #05cdff;
  }
  .l8{
    color: #05cdff;
    margin-top: 1%
  }
  a:hover {
    color: #23527c;
    text-decoration: none;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  color: #2e58a6;
  background-color: #ffffff;
  border-color: #2e58a6;
}
 