.h33 {
    font-size: 20px;
    margin-left: 20px;
    text-decoration: underline;
    color: #05cdff;
}
.p_headder{
    background-color: #05cdff;
    text-align: center;
    height: 50px;
    color: white;
    font-size: 30px;
    position: absolute;
    width:-webkit-fill-available;
}
.justify-center{
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    background: #F5F5F5;
}
.widthstand{
    width: 750px;
    margin-top: 60px;
}
.col-md-6 {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.tb:hover {
    text-decoration: none;
    font-family: monospace;

}
.col10{
    background:	white;
    display: inline-flex;
    width: 100%;
    border-radius: 5px;
    color: black;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    height: 80px;
}
.colleft{
    padding-right: 40px;
    border-right: 1px solid #ddd;
    margin: 10px;
    width: 60%;
}
.colleft1{
    padding-right: 40px;

    margin: 10px;
    width: 70%;
}
.colright{
    margin: 10px;
    margin-top: 21px;
 
}
.colright span{
    font-size: 20px;
    color: #05cdff;
}


.day{
    font-size: 30px;
    color :#05cdff;
   
}
.day:hover {
    color: #000;
}
.col10:hover {
background-color : #E0FFFF;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p_footer{
    background-color:#05cdff;
    height: 40px;
    padding: 8px;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.solid{
    width: 300px;
}
.navbarrightsss1{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 61px;
}
.lo:hover{
    text-decoration: underline;
}