.no1{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.textheadermodall {
    color: #05cdff;
    font-size: xx-large;
}
.dro{
    height: 100%;
    width: 70px;
    /* text-align: center; */
    align-items: center;
    display: flex;
    justify-content: center;
}
/* Dropdown button on hover & focus */
.dro:hover {
    background-color: #2980B9;
    border-radius: 50px;
    
}

/* The container <div> - needed to position the dropdown content */
.no2 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.no3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.no3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.no3 a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.showww{
    padding-left: 90px;
}
.dro2{
    width: 50px;
    height: 50px;
    border-radius: 22px;
}
.solidmodal123 {
    border-bottom: 1px solid;
    color: #cccccc;
    width: 364px;
    margin: 15px 0 20px 0;
}
input[type=file] {
    width: 180px;
    
}